* {
    font-family: Arial, Helvetica, sans-serif;
}

i {
    color: green;
}

i {
    /* Jika ada dua tag i maka yang diambil yang terakhir */
    color: red;
}

/* Spesifik */
b {
    /* Level 1 */
    color: pink;
}

p b {
    /* level 2 */
    color: rebeccapurple;
}

p b {
    /* level 3 */
    color: aqua !important;
}

p#pendahuluan {
    font-size: large;
    font-weight: 900;
}

p.para2 {
    color: bisque;
}

/* Pengelompokan atau grouped */
/* 
h1,
h2,
p {
    color: blue;
} */