body {
  background-image: url("alam.jpg");
  background-size: cover;
  z-index: 1;
  background-attachment: scroll;
  background-repeat: repeat-y;
}
div {
  width: 800px;
  height: 700px;
  margin: 0 auto;
  background-color: white;
  z-index: 2;
  right: 10px;
  position: absolute;
}
h1,
p {
  text-align: right;
}
