ul {
  list-style-type: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: black;
}

.card {
  margin: 0 auto;
  padding: 0 auto;
}
div {
  background-image: linear-gradient(aqua, white);
}
.slider {
  overflow: hidden;
  text-align: center;
  padding: 10px;
}

.slider-img {
  position: relative;
  width: 100%;
}

.image {
  float: left;
  width: 10%;
  padding: 10px;
}

.p-text {
  padding: 10pxw;
  column-count: 4;
  column-fill: auto;
  column-rule: 2px solid black;
  text-align: justify;
}

.footer h2 {
  margin: 0;
  padding: 0;
  background-color: black;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  padding-top: 1px;
  text-decoration: none;
}
