body {
  min-height: 100vh;
  /* background-color: black; */
  background-image: linear-gradient(to top right, red, white);
}

.satu {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  background-image: radial-gradient(circle at bottom, white, blue);
}

.dua {
  width: 800px;
  height: 200px;
  margin: 0 auto;
  background-image: radial-gradient(circle at left, white, blue, white);
}
