.box1 {
    height: 100px;
    width: 300px;
    background-color: #bbbaaa;
}

.box1 p {
    height: 75%;
    width: 75%;
    background-color: blanchedalmond;
}

.box2 {
    height: 200px;
    width: 400px;
    background-color: aqua;
}

.box2 h2 {
    width: 50%;
    background-color: bisque;
}

.box2 p {
    width: 50%;
    background-color: orange;
}

/* Ukuran minimun dan maksimun dari box */
td {
    background-color: darkcyan;
}

td.deskripsi {
    min-width: 450px;
    max-width: 500px;
    background-color: chartreuse;
}

h2,
h3 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    color: brown;
}

p.satu {
    height: 100px;
    width: 200px;
    overflow: hidden;
}

p.dua {
    height: 100px;
    width: 200px;
    overflow: scroll;
}