/* COLOR */

/* Foreground Color */

/* Color Name */
h1 {
    color: darkcyan;
}

/* Hex */
h2 {
    color: #d10e0e;
}

/* RGB */
p {
    color: rgb(155, 43, 219);
}

/* BackGround Color */
body {
    background-color: #efefef;
}

h1 {
    background-color: darkgoldenrod;
}

h2 {
    background-color: aqua;
}