/* 
* Bintang adalah Universal Selector
 */

* {
    font-family: Arial, Helvetica, sans-serif;
}

/* Type Selector */

h1 {
    color: red;
}

h2 {
    color: darkcyan;
}

/* selector class */
li.pagi {
    color: darkmagenta;
}

li.siang {
    color: darkgreen;
}

/* ID selector */
li#sore {
    color: blue;
}

/* Child Selector */
p>b {
    background: #0f3869;
}

h1>b {
    color: burlywood;
}

/* Decendant Selector */
/* Artinya Jika ada tag i di dalam tag p maka seluruh tag i berubah */
p i {
    color: chocolate;
}

/* General Sibling Selector */

h2~p {
    /* artinya memilih setiap element p yang di dahului oleh element h2 */
    font-family: 'Times New Roman', Times, serif;
}